/*@media (min-width: 768px){
    .container, .container-md, .container-sm {
        max-width: 920px;
}
}*/
@media (max-width: 1366px) {
    .about_section {
        padding: 70px 0;
    }
    .about_box_sec {
        margin-top: 60px;
        margin-bottom: 70px;
    }
    .about_counter_text h1 {
        font-size: 34px;
    }
    .about_counter_text p {
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    .banner_text {
        padding: 250px 30px;
    }
    .pagination {
        padding: 40px 0;
    }
    .about_counter_section {
        padding: 100px 0;
    }
    .about_heading h3 {
        font-size: 38px;
        margin-bottom: 6px!important;
    }
    .about_heading p {
        font-size: 20px;
    }
    .contact_details_sec {
        padding: 50px;
    }
    .contact_form_section {
        padding: 50px 0;
    }
    .contact_form_heading h3 {
        font-size: 30px ;
    }
    .contact_form_heading p {
        font-size: 18px ;
    }
    .contact_form_heading {
        padding-bottom: 30px;
    }
    .contact_form_sec p {
        width: 81%;
        margin: 0 auto 40px;
    }
    .contact_form input, .contact_form textarea {
        padding: 15px !important;
    }
    .map_icon {
        padding: 45px 0;
    }
}
@media (max-width: 991px) {
    .nav-social-icon-top,.header-center-logo {
        flex: 0 0 0;
        max-width: 0;
        display: none !important;
        overflow: hidden;
    }
    header.scrollnav,
    header {
        padding: 20px 16px !important;
    }
    .nav-social-icon {justify-content: space-between !important;}
    header.scrollnav .nav-search-icon-top {
        order: unset;
    }
    .nav-search-icon-top {
        margin-left: auto;
    }
    .navbar_links li a.nav_links:after,.navbar_links li a.active:after{display: none;}
    .logo {
        display: block;
    }
    .logo img {
        max-width: 100px;
    }
    .toggle_btn {
        display: block;
    }
    .toggle_btn button{
        width: 22px;
        height: 18px;
        background-color: transparent;
        position: relative;
        border: none;
        vertical-align: middle;
    }
    .toggle_btn button:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        margin: auto;
        background-color: #000;
    }
    .toggle_btn button:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        margin: auto;
        background-color: #000;
    }
    .toggle_btn button span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        margin: auto;
        background-color: #000;
    }
    .navbar_links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.88);
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        opacity: 0;
        pointer-events: none;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        padding-left: 15px !important;
        visibility: hidden;
    }
    .navbar_links.open {
        z-index: 2;
        opacity: 1;
        pointer-events: visible;
        visibility: visible;
    }
    .navbar_links li a.nav_links {
        margin: 14px 0;
        font-size: 24px;
        color: #fff;
        font-weight: bold;
    }
    .navbar_links ul {
        display: block !important;
    }
    a.close_btn {
        position: absolute;
        top: 20px;
        right: 38px;
        color: #fff;
        font-size: 40px;
        margin: auto;
        display: block;
    }
    .nav-search-icon-top .top_nav_icon ul li a {padding: 0 25px 0 0;}
    .banner_text {
        padding: 200px 30px;
    }
    .pagination {
        padding: 30px 0 40px;
    }
    .banner_text h2 {
        font-size: 32px;
    }
    .blog_content_text h3 a {
        font-size: 22px;
    }
    .blog_content_image .blog_content_image_inner {
        margin-bottom: 35px;
    }
    .like_btn {
        width: 68px;
        height: 68px;
    }
    .blog_sec {
        margin-bottom: 50px;
    }
    .follow_sec {
        padding: 20px 20px;
    }
    .follow_text p,
    .follow_icon {
        margin-bottom: 15px;
    }
    .category_box_sec,
    .tags_box_sec,
    .banner_image_box,
    .popular_sec,
    .follow_sec,
    .about_me_sec {
        margin-bottom: 45px;
    }
    .blog_content_section {
        padding: 50px 0 30px;
    }
    .our_gallery {
        padding-bottom: 50px;
    }
    .footer_top_sec {
        padding: 45px 0;
    }
    .footer_bottom_sec {
        padding: 26px 0;
    }
    .footer_text h5 {
        margin-bottom: 10px;
    }
    .popular_post_image {
        flex: 0 0 66px;
        max-width: 66px;
    }
    .popular_post_image_inner {
        width: 50px;
        height: 50px;
    }
    .popular_post_text {
        flex: 0 0 calc(100% - 66px);
        max-width: calc(100% - 66px);
    }
    .sidebar_heading_text {
        margin-bottom: 18px;
    }
    .popular_post_list {
        margin-bottom: 20px;
    }
    .our_gallery_heading h4 {
        margin-bottom: 30px;
    }
    .blog_content_text p {
        font-size: 14px;
    }
    .about_image_box {
        padding-top: 63%;
    }
    .about_text_box {
        padding: 55px 55px;
    }
    .about_counter_section {
        padding: 80px 0;
    }
    .author_section,
    .about_text_section {
        padding: 70px 0px;
    }
    .about_text_f h4 {
        margin-bottom: 30px;
    }
    .m_b {  
        margin-top: 84px;
    }
    .author_heading p {
        width: 100%;
    }
    .author_box_sec {
        margin-top: 50px;
    }
    .category_section {
        padding: 115px 15px;
    }
    .category_text h2 {
        font-size: 36px;
    }
    .contact_details_section {
        padding: 40px 0;
    }
    .contact_heading {
        padding-bottom: 35px;
    }
    .contact_details_sec {
        padding: 35px;
    }
    .contact_details_content i {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .contact_details_content h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about_heading h3 {
        font-size: 30px;
        margin-bottom: 4px!important;
    }
    .about_heading p {
        font-size: 18px;
    }
    .contact_form_section {
        padding: 40px 0;
    }
    .contact_form_heading h3 {
        font-size: 28px;
    }
    .contact_form_heading p {
        font-size: 16px;
    }
    .contact_form_sec p {
        width: 100%;
        margin: 0 auto 25px;
    }
    .contact_form_heading {
        padding-bottom: 20px;
    }
    .contact_details_content p {
        margin-bottom: 10px;
    }
    .map_box_sec iframe {
        height: 375 px;
    }
}
@media (max-width: 767px) {
    .pagination {
        padding: 50px 0;
    }
    .follow_text p, .follow_icon {
        margin-bottom: 20px;
    }
    .order:nth-child(1){
        order: 1;
    }
    .order:nth-child(2){
        order: 3;
    }
    .order:nth-child(3){
        order: 2;
    }
    .banner_text {
        padding: 150px 30px;
    }
    .blog_content_text p {
        margin-bottom: 20px;
    }
    .banner_text h2 {
        font-size: 28px;
    }
    .slider_arrow {
        padding: 0 20px;
    }
    .blog_content_text h3 a {
        font-size: 20px;
    }
    .blog_content_image .blog_content_image_inner {
        margin-bottom: 25px;
        padding-top: 52%;
    }
    .blog_content_section {
        padding: 40px 0 30px;
    }
    .our_gallery {
        padding-bottom: 40px;
    }
    .footer_top_sec {
        padding: 40px 0;
    }
    .footer_bottom_sec {
        padding: 20px 0;
    }
    .like_btn {
        width: 60px;
        height: 60px;
        left: -10px;
        bottom: -10px;
    }
    .blog_content_text_inner {
        margin-bottom: 18px;
    }
    .category_box_sec a {
        height: 55px;
    }
    .about_text_box {
        padding: 40px 40px;
    }
    .about_text_box h4 {
        font-size: 26px;
        padding-bottom: 10px;
    }
    .about_box_text p,
    .about_text_box p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .about_box_text h4 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 8px;
    }
    .adout_text_box_list li {
        padding-left: 16px;
        font-size: 14px;
    }
    .about_box_sec {
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .about_section:after {
        height: 530px;
    }
    .about_section {
        padding: 50px 0;
    }
    .adout_text_box_list li i {
        top: 4px;
        font-size: 13px;
        width: 13px;
    }
    .btn_orange {
        height: 45px;
        line-height: 45px;
        margin-top: 20px;
    }
    .about_text_s p:nth-child(1) {
        margin-bottom: 20px;
    }
    .author_text {
        padding: 25px 10px;
    }
    .category_section {
        padding: 95px 15px;
    }
    .contact_details_sec {
        padding: 20px;
    }
    .contact_details_content h5 {
        font-size: 18px;
        margin-bottom: 8px;
    }
    .contact_form_section,
    .contact_details_section {
        padding: 30px 0;
    }
    .contact_form input, .contact_form textarea {
        padding: 10px 15px !important;
        margin-bottom: 15px;
    }
    .about_heading h3 {
        font-size: 28px;
    }
    .contact_form_heading h3 {
        font-size: 26px;
    }
    .map_icon i{
        font-size: 20px;
    }
    .map_icon {
        padding: 30px 0;
    }
    .map_box_sec iframe {
        height: 300px;
    }
    .contact_heading {
        padding-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .avtar_text:after,.social_icons:after{display: none;}
    .footer_bottom_sec li a {
        padding-left: 0;
        padding-bottom: 10px;
    }
    .pagination {
        padding: 35px 0;
    }
    .pagination li a {
        width: 40px;
        height: 40px;
        line-height: 41px;
    }
    .slider_arrow {
        padding: 0 15px;
    }
    .banner_text h2 {
        font-size: 24px;
    }
    .banner_text {
        padding: 120px 30px;
    }
    .navbar_links li a.nav_links {
        margin: 10px 0;
        font-size: 20px;
    }
    .like_btn i {
        font-size: 20px;
    }
    .about_heading h3 {
        font-size: 26px;
        margin-bottom: 0px !important;
    }
    .about_heading p {
        font-size: 18px;
    }
    .about_text_box {
        padding: 25px;
    }
    .about_text_box h4 {
        font-size: 24px;
        padding-bottom: 10px;
    }
    .about_box_text img {
        max-width: 48px;
        max-height: 48px;
    }
    .featured_section,.author_section,.about_text_section,.about_counter_section {
        padding: 50px 0;
    }
    .about_text_f h4 {
        font-size: 16px;
    }
    .about_text_s p:nth-child(1) {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .about_text_s p:nth-child(2) {
        font-size: 16px;
        line-height: 25px;
    }
    .category_section {
        padding: 75px 15px;
    }
    .category_text h2 {
        font-size: 30px;
    }
    .contact_details_sec {
        padding: 15px;
    }
    .contact_form_heading h3 {
        font-size: 24px;
    }
    .contact_form_heading p {
        font-size: 14px;
    }
    .contact_form_sec p {
        font-size: 14px;
        margin: 0 auto 20px;
    }
    .contact_form_heading {
        padding-bottom: 10px;
    }
}